@model CasaRepousoWeb.Models.Idoso
@using CasaRepousoWeb.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Nova Situação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Cadastrar Idoso</h2>
        <form action="/idoso/Create" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" name="Nome" required>
                </div>
                <div class="col-md-6">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" placeholder="Sobrenome" name="Sobrenome" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" placeholder="CPF" name="cpf" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Formato: 000.000.000-00">
                </div>
                <div class="col-md-6">
                    <label for="dataNascimento">Data de Nascimento</label>
                    <input type="date" class="form-control" name="dataNascimento" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="ala">Ala</label>
                    <select class="form-control" name="AlaId" required>
                        <option value="">Filtrar por Ala</option>
                        @if (ViewBag.Alas != null && ((IEnumerable<CasaRepousoWeb.Models.Ala>)ViewBag.Alas).Any()) 
                        {
                            foreach (var ala in ViewBag.Alas)
                            {
                                <option value="@ala.AlaId">@ala.Nome</option>
                            }
                        }
                        else
                        {
                            <option value="">Nenhuma ala encontrada</option> 
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="situacao">Situação</label>
                    <select class="form-control" name="SituacaoId" required>
                        <option value="">Filtrar por Situação</option>
                        @if (ViewBag.Situacoes != null && ((IEnumerable<CasaRepousoWeb.Models.Situacao>)ViewBag.Situacoes).Any())
                        {
                            foreach (var situacao in ViewBag.Situacoes)
                            {
                                <option value="@situacao.SituacaoId">@situacao.Nome</option>
                            }
                        }
                        else
                        {
                            <option value="">Nenhuma situação encontrada</option> 
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="problemasDeSaude">Problemas de Saúde</label>
                <textarea class="form-control" placeholder="Descreva os problemas de saúde" name="ProblemasDeSaude" ></textarea>
            </div>

            <div class="form-group">
                <label for="nutricao">Nutrição</label>
                <textarea class="form-control" placeholder="Detalhes sobre nutrição" name="Nutricao" ></textarea>
            </div>

            <div class="form-group">
                <label for="alergia">Alergia</label>
                <textarea class="form-control" placeholder="Descreva as alergias" name="Alergia" ></textarea>
            </div>

            <div class="form-group">
                <label for="cuidadosEspeciais">Cuidados Especiais</label>
                <textarea class="form-control" placeholder="Descreva os cuidados especiais" name="CuidadosEspeciais" ></textarea>
            </div>



            <button type="submit" class="btn btn-success">Cadastrar</button>
            <a href="/idoso/read" class="btn btn-secondary">Voltar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>